.bodyMain {
  width: 100%;
  height: 100%;
  font-family: "inter";
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.para {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.slider {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sliderImages {
  position: absolute;
  width: 100%;
  height: 100%;
}

.img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sliderCounter {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  height: 24px;
  display: flex;
  gap: 0.5rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.sliderCounter > div {
  flex: 1;
}

.sliderCounter p {
  line-height: 20px;
}

.counter {
  position: relative;
  top: 0px;
  will-change: transform;
}

.sliderTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 64px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.sliderTitleWrapper {
  position: relative;
  width: 100%;
  top: 0px;
  text-align: center;
  will-change: transform;
}

.sliderTitleWrapper p {
  font-size: 50px;
  line-height: 60px;
}

.sliderIndicators {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.sliderIndicators p {
  position: relative;
  font-size: 40px;
  font-weight: 200;
  will-change: transform;
}

.sliderPreview {
  position: absolute;
  bottom: 2em;
  right: 2em;
  width: 35%;
  height: 50px;
  display: flex;
  gap: 1em;
}

.preview {
  position: relative;
  flex: 1;
  cursor: pointer;
}

.preview::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.preview.active::after {
  background: rgba(0, 0, 0, 0);
}

@media (max-width: 900px) {
  .sliderIndicators {
    width: 90%;
  }

  .sliderPreview {
    width: 90%;
    bottom: 5em;
  }

  .sliderTitleWrapper p {
    font-size: 30px;
  }
}
